body{
    margin: 0;
    padding: 0;
 }
.icon-bar-ver{
    width: 70px;
    margin: 5px;
    text-align: center;
  }
  .icon-bar-hor{
    position: relative;
    top: 50px;
    max-width: 100%;
    text-align: center;
    margin: 5px;
   
  }

.vertical{
    display:block;
    padding: 15px;
    background-color: rgb(80, 126, 126);
    color: aliceblue;
}
.horizental{
    float: left;
    width: 20%;
    padding: 20px 0;
    background-color: rgb(80, 126, 126);
    color: aliceblue;
}
.active-ver{
    display:block;
    padding: 15px;
    color: aliceblue;
    background-color: rgb(2, 2, 129);
}
.active-hor{
    float: left;
    width: 20%;
    padding: 20px 0;
    background-color: rgb(2, 2, 129);
    color: aliceblue;
}


