body{
    background-color: rgb(134, 134, 214);
}
.box{
    width: 400px;
    height: 400px;
    margin:0 auto;
    margin-top: 20px;
    background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border: solid white;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.box p{
    padding-top: 150px;
}
