body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(177, 173, 173);
    }
.nav{
    width: 150px;
    height: 140px;
    background-color: rgb(53, 54, 50);
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Rajdhani', sans-serif;
}
.nav :hover{
    background-color: aqua;
    cursor: pointer;
    color: #000000;
}

.nav :active{
    background-color: blue;
    } 
.home{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
.set{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
.add{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.txt{
    color: #fff;
    padding-left: 25px;
    padding-top: 3px;
    border-left: 2px solid #000;
}    

.icon{
    color: aqua;
}