
.container{
    display: grid;
    grid-template-areas: 'saturn saturn saturn saturn-img sky-img'
    'moon moon-txt moon-txt moon-txt sky-img';
    padding: 5px;
    background-color: #fff;
    gap: 3px;

}
.saturn{
    grid-area: saturn;
    background-color: #c5adad;
    text-align: justify;
    height: 370px;
 }
 .saturn p{
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
 }
.saturn h2{
    text-align: center;
    color: #fff;
}

.saturn-img{
    grid-area: saturn-img;
    height: 370px;

}
.saturn-img img{
    width: 300px;
    height: 370px;
}
.sky-img{
    grid-area: sky-img;
    height: 743px;
    
}
.sky-img img{
    width: 330px;
    height:743px;
}
.moon{
    grid-area: moon;
    height: 370px;
}
.moon img{
    width: 300px;
    height: 370px;
}
.moon-txt{
    grid-area: moon-txt;
    background-color: #c5adad;
    text-align: justify;
    height: 370px;
  
}
.moon-txt h2{
    color: #fff;
    text-align: center;
}
.moon-txt p{
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
}
