@font-face {
    font-family: B\ Nazanin;
    src: url(fonts/B\ Nazanin.ttf);
}
body{
  
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,rgb(151, 157, 170),rgb(132, 132, 212));
}
.container{
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #3c82bb;
    padding: 7px;
    background-color: #ffffff;
    box-shadow: 2px 5px 5px 2px #cb85d4;
  
}

table{
    padding-top: 20px;
    width: 100%;
    padding-right: 30px;
    padding-bottom: 20px;
    font-family: B Nazanin;
    background-color: rgb(153, 213, 228);
    border-radius: 10px;
    border-spacing: 0;
 
 }

.pic{
    background-image: url(image/pic.jpg);
    width: 20%;
    height: 20%;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
 }

.name{
    font-weight: bold;
    font-family: B Nazanin;
    text-align: center;
   
 }
 h2{
    margin: 0;
 }

.col{
    padding-right: 100px;
}
.divide{
    border-color: bisque;
    border-style: dotted;
    margin-left: 8px;
    margin-right: 8px;
}
.tbl2{
    border-collapse: separate;
    border-spacing: 10px;
}
.column-right{
    background-color: rgb(148, 148, 197);
    text-align: right;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
}

.column-left{
    background-image: url(image/white-texture.avif);
    background-position: center;
    background-size: cover;
    padding-right: 10px;
    border-radius: 5px;
 }
.column-left i{
    font-size: 20px;
}
.tbl3{
    padding-left: 10px;
    border: none;
}
.skills{
    width: 65%;
    background-color: rgb(148, 148, 197);
    color: #0f0733;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
}

.fa-tasks, .fa-graduation-cap, .fa-cogs{
    padding-left: 7px;
}

.icon-star{
    background-color: rgb(148, 148, 197);
    color: #ffffff;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.icon{
    padding-right: 20px;
    font-size:12px;
}