body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.navbar{
    height: 100%;
    width: 150px;
    background-color: rgb(24, 27, 27);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    
}
a{
    text-decoration: none;
    color: azure;
    display:block;
    padding: 10px;
  
}
a:hover{
    background-color: blue;
}

