body{
    height: 100%;
    margin: 0;
    padding: 0;

}
.navbar{
    text-align: center;
    max-width: 100%;
}
.nav{
    padding: 5px;
    margin:50px;
    width: 70px;
    background-color: rgb(24, 134, 98);
    height: 40px;
    color: aliceblue;
    line-height: 35px;
    text-align: center;
}
.nav li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: #000;
}

.sub{
    position: absolute;
    left: 50px;
    padding-left: 8px;
    display: none;
    text-align: center;
     margin-top: 10px;
    width: 110px;
    line-height: 40px;
    text-shadow: 1px 1px 5px #dbc1c1;
    color: #000;
    box-shadow: 3px 3px 6px #a39f9f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.nav:hover .sub{
    display: inline-block;

}
.sub li:hover{
    background-color: rgb(221, 236, 231);
}
.desc{
    max-width: 80%;
    position: relative;
    top: 100px;
    left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}