@font-face {
    font-family: Cera Stencil Pro;
    src: url(fonts/FontsFree-Net-Cera-Stencil1.ttf);
}

*{
	margin: 0;
	padding: 0;
  font-family: Archer Pro,sans-serif;
}

.header{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: linear-gradient(to right,#EFBFE6,#B497E3);
    letter-spacing: .5px;
}
.navbar{
    background-color: #8CD0E3;
    width: 100%;
    height: 130px;
    text-align: center;
}
.logo{
    width: 130px;
    height: 50px;
    background-image: url(images/Bliss_Logo.avif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    top: 20px;
}
.icon-box{
    position: relative;
    width: 200px;
    height: 20px;
    font-size: 30px;
    float: right;
}
.icon{
    padding-right: 25px;
    color: #fff;
   }
.nav{
    position: relative;
    top: 50px;
    padding-bottom: 10px;
}
.menu{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu li{
    display: inline-block;
    padding-right: 30px;
}
.banner{
    max-width: 100%;
    height: 600px;
    background-image: url(images/Homepage_Banner.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    padding: 50px;
}
.container h2{
    font-family: Cera Stencil Pro;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 38px;
    color: #000;
  }
  h2{
    font-family: Cera Stencil Pro;
  }
  .product{
    width: 95%;
    height: 400px;
    position: relative;
    text-align: center;
    left: 5%;
    margin-bottom: 100px;
  }
  .drench{
    width: 22%;
    height: 90%;
    float: left;
  }
  .drench-img{
    width: 100%;
    height: 100%;
    background-image: url(images/Drench_Quench.webp);
    background-position: center;
    background-size: cover;

  }

  .bright{
    width: 22%;
    height: 90%;
    float: left;
    margin-left: 30px;
  }
  .bright-img{
    width: 100%;
    height: 100%;
    background-image: url(images/Bright_Idea.webp);
    background-position: center;
    background-size: cover;

  }

  .youth{
    width: 22%;
    height: 90%;
    float: left;
    margin-left: 30px;
  }
  .youth-img{
    width: 100%;
    height: 100%;
    background-image: url(images/youth-got.webp);
    background-position: center;
    background-size: cover;
  }

  .clear{
    width: 22%;
    height: 90%;
    float: left;
    margin-left: 30px;
  }
  .clear-img{
    width: 100%;
    height: 100%;
    background-image: url(images/Clear_Genius.webp);
    background-position: center;
    background-size: cover;
  }
.shop-section{
  width: 100%;
  height: 600px;
  }
  .shop-section-left{
    width: 50%;
    height: 100%;
    background-image: url(images/bliss-bright-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;

  }
  .shop-txt{
    width: 75%;
    height: 60%;
    position: relative;
    top:25%;
    left:10%;
    text-align: center;
 background-color: rgba(236, 252, 220, 0.8);
  }

  .shop-txt h1{
    padding-top: 100px;
  }

  .shop-txt p{
    font-family: Archer Pro,sans-serif;
    font-size: 18px;
    padding-top: 20px;
  }

  .shop-btn{
    position: relative;
    width: 150px;
    height: 60px;
    background-color: #FA9000;
    margin: 0 auto;
    top: 50px;
    line-height: 60px;
    font-size: 22px;
  }
  .shop-section-right img{
    width: 50%;
    height: 600px;
    float: left;
  }
  .vitamin-c{
    width: 50%;
    height: 450px;
    text-align: center;
    margin: 0 auto;
  }
  .vitamin-c-img{
    width: 40%;
    height: 80%;
    background-image: url(images/BLISS_Bright_Idea_Vitamin_C.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .vitamin-c h2{
    padding: 10px;
  }
  .block-star{
    width: 100%;
    height: 600px;
    position: relative;
    top: 60px;
  }
  .block-star-left{
    width: 50%;
    height: 100%;
    background-image: url(images/bliss-block-party.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
  }
  .block-star-right{
    width: 50%;
    height: 100%;
    background-image: url(images/bliss-block-party-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin: 0 auto;
    
  }
  .block-star-txt{
    width: 55%;
    position: relative;
    top: 40%;
    margin: 0 auto;
    text-align: center;
  }
  .block-star-btn{
    position: relative;
    width: 150px;
    height: 60px;
    background-color: #3d54d4;
    color: #fff;
    margin: 0 auto;
    top: 50px;
    line-height: 60px;
    font-size: 22px;
  }
  .mineral{
    width: 100%;
    height: 450px;
    position: relative;
    top: 100px;

  }
  .mineral-left{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    float: left;
    text-align: center;
  }
  .mineral-left-txt{
    width: 50%;
    text-align: left;
    position: relative;
    left: 45%;
    top: 20%;
}
.mineral-left-txt p{
  padding-top: 30px;

}
  .mineral-right{
    width: 50%;
    height: 100%;
    float: left;
  }
  .mineral-btn{
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #3d54d4;
    color: #fff;
    margin: 0 auto;
    top: 120px;
    line-height: 50px;
    font-size: 22px;
    left: 60px;
  }
  .cruelty{
    width: 100%;
    height: 540px;
      }
.cruelty-left{
    text-align: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background:linear-gradient(to right,#F9BDEA,#C2A6E4);
    float: left;
  }
  .cruelty-left-txt{
    position: relative;
    width: 65%;
    text-align: center;
    margin: 0 auto;
    top: 110px;
  }
  .cruelty-left-txt p{
    padding: 30px;
    font-size: 18px;
  }
  .cruelty-btn{
    position: relative;
    width: 300px;
    height: 50px;
    background-color: #fff;
    top: 100px;
    line-height: 50px;
    margin: 0 auto;
  }
  .cruelty-right{
    width: 50%;
    height: 100%;
    float: left;
    background-image: url(images/bliss-cruelty-free.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
.ready{
  position: relative;
  top: 50px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 70px;
}
