
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../images/bg.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    margin: 0 auto;
    width: 95%;
    height: 70%;
    margin-bottom: 27px;
    border-radius: 10px;
    background-image: url(../images/khalij.jpg);
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(99, 77, 77);
    color: bisque;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Cutive Mono', monospace;
  
}
.head{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    color: #899258;
    text-shadow: 2px 2px 5px #0add50;
    font-weight: bold;
    font-style: italic;
}
.head h1{
    margin: 10px;
    
}
#edu h1{
    text-align: center;
    font-size: 38px;
    color: #fffc3d;
    font-family: 'Kalam', cursive;
    font-style: italic;
    text-shadow: 2px 2px 4px #4bcf30;
    letter-spacing: 10px;
  
}
h3{
    letter-spacing: 3px;
    line-height: 30px;
}
.nav{
    margin-left: 30px;
    text-decoration: none;

}
.nav:hover{
    padding: 3px 20px;
    border: 1px solid #ddf16b;
    color: #fdfffd;
    background-color: #34b35e;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 2px 2px 7px #fbff14;
}
.nav:active{
    padding: 3px 20px;
    border: 1px solid #ddf16b;
    color: #210958;
    background-color: #f0e32e;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 2px 2px 7px #71ace2;

}
.education{
    margin-left: 20px;
    }
ul{
    list-style-type: none;
    margin: 0;
}
li:hover{
    color: rgb(240, 163, 236);
    font-size: 21px;
    font-weight: bold;
    text-decoration:underline
}
li:active{
    color: #fff;
}
li{
    line-height: 50px;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Mallanna', sans-serif;
}
li a{
    text-decoration: none;
}

.menu{
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background-color: rgb(213, 238, 74);
    border-radius: 10px;
    
}


.blank{
    width: 30%;
    height: 70px;

}
.name{
    font-size: 44px;
    color: rgb(213, 238, 74);
    margin: 0;
    font-family: 'Cutive Mono', monospace;
}
.txt{
    font-size: 16px;
    padding: 20px 70px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(102, 145, 104, 0.7);
    font-family:'Cutive Mono', monospace;
}
edu-hover:hover .txt{
    font-size: 18px;
  
}

.resume-txt{
    text-align: left;
    color: #fdfffd;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 46px;
    padding-left: 15px;
  
}

.menu-txt{
    padding-left: 25px;
    padding-bottom: 20px;

}

.place-holder{
    padding-top: 20px;
    height: 100%;
    backdrop-filter: blur(2px);
  
}

h3{
    font-family: 'Thasadith', sans-serif;
}
.foot{
    padding-bottom: 0;
    height: 50px;
    background-color: rgb(172, 207, 191);
    color: #3d3d33;
    padding-left: 50px;
    padding-top: 25px;
    font-size: 18px;
    font-family: 'Mallanna', sans-serif;

}
.icon-foot{
    padding-left: 100px;
    
}
.icon-foot i{
    padding-left: 25px;
}

.fa-instagram:hover{
    color: #fdfdfc;
    cursor: pointer;
    font-size: 19px;
  }
  .fa-twitter:hover{
    color: #ffffff;
    cursor: pointer;
    font-size: 19px;
  }
  .fa-whatsapp:hover{
    color: #fffffc;
    cursor: pointer;
    font-size: 19px;
  }
  .fa-telegram:hover{
    color: #ffffff;
    cursor: pointer;
    font-size: 19px;
  }