body{
    padding: 0;
    margin: 0;
    height: 50vh;
    background: linear-gradient(to bottom,#378ab9,#103535);
}
.container{
    max-width: 80%;
    position: absolute;
    top: 32%;
    left: 21%;
}
.box1{
    width: 200px;
    height: 250px;
    display: inline-block;
    padding-left: 20px;
    margin-left: 50px;
    background-color: rgb(170, 181, 182);
}
.box2{
    width: 200px;
    height: 250px;
    padding-left: 20px;
    display: inline-block;
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
}
.box3{
    width: 200px;
    height: 250px;
    padding-left: 20px;
    display: inline-block;
    margin-left: 50px;
    background-color: rgb(240, 166, 96);
}
h1,h2{
    padding: 0;
    margin: 0;
}
h1:nth-child(1){
    color: #a0c3d8;
    padding-top: 30px;
    font-size: 60px;

}
.box-content{
    position: relative;
    bottom: 40px;
}
p{
    text-align: justify;
    font-size: 14px;
    padding-right: 20px;
    margin: 0;
}
.box1:hover h1:nth-child(1){
    transform: translate(0,-30px);
    transition: 1s;
    color: #fff;

} .box2:hover h1:nth-child(1){
    transform: translate(0,-30px);
    transition: 1s;
    color: #fff;


} .box3:hover h1:nth-child(1){
    transform: translate(0,-30px);
    transition: 1s;
    color: #fff;

}
.box1:hover{
    background-color: rgb(112, 203, 255);
    color: #fff;
}

.box2:hover{
    background-color: rgb(106, 211, 74);
    color: #fff;
}

.box3:hover{
    background-color: rgb(60, 72, 230);
    color: #fff;
}
