body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom,rgb(128, 203, 216), rgb(187, 16, 3));
}
.box{
    max-width: 100%;
    margin-top: 50px;
}

.hello1{
    padding-top: 30px;
    width: 33%;
    height: 40px;
    text-align: center;
    float: left;
    background-color: aqua;
    color: aliceblue;
}

.hello2{
    padding-top: 30px;
    width: 34%;
    height: 40px;
    text-align: center;
    float: left;
    color: aliceblue;
    background-color: rgb(35, 26, 75);
}

.hello3{
    padding-top: 30px;
    width: 33%;
    height: 40px;
    text-align: center;
    float: left;
    color: aliceblue;
    background-color: rgb(192, 26, 207);
}

.img{
    padding-left: 5px;
    max-width: 100%;
    position: relative;
    top: 200px;
}

.lion{
    width: 49%;
    height: 450px;
    display: inline-block;
    background-image: url(images/lion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cat{
     width: 50%;
    height: 450px;
    display: inline-block;
    background-image: url(images/cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
