body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(27, 21, 77);
    background-image: linear-gradient(rgb(20, 7, 27), rgb(195, 195, 224));
}
.hd{
    color: #fff;
    text-align: center;
}
.bg{
    background-image: url(images/SteveJobs.jpg);
    background-position: center;  
    background-repeat: repeat-x;
   background-attachment:local;
    background-clip: content-box;
    width: 1250px;
    height: 250px;
    margin-left: 200px;
    text-align: center;
    color: rgb(12, 136, 238);
    font-size: 42px;
    padding-bottom: 10px;
  }
  .bg p{
padding: 65px;
  }
 
  .bio{
    width: 500px;
    height: 300px;
    color: #fff;
    padding-left: 490px;
  }
  .bio h1{
    font-size: 48px;
  }
    