body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom,rgb(211, 234, 238), rgb(61, 46, 45));
}
.center{
    position: relative;
    top: 100px;
    margin: auto;
    max-width: 90%;
    border: 4px solid rgb(57, 205, 241);
    text-align: center;
    height: 200px;
    color: aliceblue;
    font-size: 18px;
    line-height: 180px;
    background-color: rgb(111, 119, 121);
}
