body{
    margin: 0;
    padding: 0;
 }
 
 .icon-bar{
    max-width:100% ;
    margin: 5px;
    background-color: rgb(14, 4, 53);
    padding: 15px 0;
 }

 .icon{
    color: aliceblue;
    padding-left: 30px;
 }

 .icon-active{
    padding: 15px 10px;
    color: aliceblue;
    background-color: rgb(93, 93, 167);
 }

 input{
   position: absolute;
   right: 10px;
   padding: 7px 0;
   top: 12px;
 }

 i{
    padding-right: 5px;
 }
 a{
    text-decoration: none;
 }