body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom,rgb(70, 95, 104), rgb(68, 131, 136));
}
.head{
    text-align: center;
    position: relative;
    top: 50px;
    color: #fff;
}
.title{
    text-align: center;
    position: relative;
    top: 50px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.float-box{
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    top: 100px;

}
.row{
    width: 100%;
    height: 200px;
}
.animal{
    max-width: 24%;
    border: 1px solid #fff;
    float: left;
  
 
    }
.cat-img{
    width: 100%;
    height: 200px;
    background-image: url(images/cat.jpg);
    background-position: center;
    background-size: cover;
    border-top: 1px solid #fff;
        
}
.dog-img{
    width: 100%;
    height: 200px;
    background-image: url(images/dog.jpg);
    background-position: center;
    background-size: cover;
    border-top: 1px solid #fff;
    
}
.lion-img{
    width: 100%;
    height: 200px;
    background-image: url(images/lion.jpg);
    background-position: center;
    background-size: cover;
    border-top: 1px solid #fff;
    
}
img{
    width: 100%;
    height: 200px;
    border-top: 1px solid #fff;
    
}
.animal-head{
    color: #fff;
    text-align: center;
    
}
h2{
    margin-top: 10px;
    margin-bottom: 5px;
}
.animal-txt{
    margin: 0;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}