.h1{
    color: blue;
}
.p1{
    font-size: 16px;
    color: grey;
}
.p2{
    font-size: 18px;
    color: rgb(238, 219, 219);
}
.p3{
    font-size: 20px;
    color: #ff0000;
}
.p4{
    font-size: 22px;
    color: hsl(300, 76%, 72%);
}