body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom,rgb(154, 245, 207), rgb(28, 207, 219));
}
.content{
    text-align: justify;
    position: absolute;
    top: 20px;
    left: 200px;
   
    max-width: 80%;
}
p{
    color: cadetblue;
}
.navbar{
    position: relative;
    top: 20px;
   left: -50px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.head{
    text-align: center;
}
.menu{
    width: 80px;
    height: 50px;
    margin-top: 5px;
    background-color: rgb(11, 10, 124);
    color: aliceblue;
    line-height: 45px;
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  
}
.menu:hover{
    transform: translate(30px);
    font-size: 16px;
    padding-left: 10px;
    text-align: center;
    transition-duration: 0.5s;
}