body{
    margin: 0;
    padding: 0;
    background-color: rgb(108, 108, 216);
    background-image: linear-gradient(to right,rgb(137, 165, 216),rgb(56, 56, 204));
}
caption {
    
    font-family: 'Rock Salt', cursive;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 10px;
  }


table{
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    height: 50%;
    color: #fff;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid;
    background-color: rgb(67, 142, 212);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 2px 2px rgb(54, 127, 238);
}
 th, td{
    border: 2px solid rgb(108, 108, 216);
    height: 50px;
 }
  th {
    background-color: rgb(40, 40, 165);
    
 } 
 table td:hover{
    background-color: rgb(46, 36, 185);
    background-image: linear-gradient( rgb(34, 34, 185),rgb(129, 129, 177));
 }